{% extends "base.html" %}
{% load static %}


{% block ref %}
<link rel="stylesheet" href="{% static 'css/mri/mri.css' %}">
<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
{% endblock %}

{% block content %}

<body>
    <!--BODY-->
    <div class="navbar-fixed">
        <nav class="nav-wrapper grey darken-3 ">
            <div class="container">
                <div class="row">
                    <div class="col s1">
                        <a href="/login" class="small brand-logo">
                            <img class="responsive-img" src="{% static 'image/login/nav_icon.png' %}" width="150">
                        </a>
                    </div>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/login">Another1</a></li>
                        <li><a href="/login">Another2</a></li>
                        <li><a href="/login">Another3</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="delete_margin grey darken-3" id="hexagon_top_black"></div>
    <div class="delete_margin traingle_top_left_grey grey darken-2"></div>
    <div class="delete_margin traingle_top_right_black grey darken-3"></div>
    <div class="col s5 offset-s3 white-text top_title">
        <div id="container">


            <select class="browser-default z-depth-4 dd_sel " name="type" id="type">
                <option disabled selected>MRI/XRAY</option>
                <option value="0" id="sel_X">X-RAY</option>
                <option value="1"id="sel_M">MRI</option>
            </select>
            <div id="XRAY" >
                <ul id="X_photos" >
                    <li><a href="#"><img src="{% static 'image/mri/1.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/2.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/3.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/4.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/5.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/6.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/7.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/8.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/9.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/10.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/11.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/12.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/13.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/14.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/15.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/16.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/17.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/l8.jpg' %}" /></a></li>
                </ul>
            </div>
            <div id="MRI" >
                <ul id="M_photos">
                    <li><a href="#"><img src="{% static 'image/mri/a.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/b.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/c.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/d.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/e.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/f.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/g.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/h.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/i.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/j.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/k.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/l.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/m.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/n.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/o.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/p.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/q.jpg' %}" /></a></li>
                    <li><a href="#"><img src="{% static 'image/mri/r.jpg' %}" /></a></li>
                </ul>
            </div>
        </div>




        <div id="painter">
            <div id="pic_show">
                <img src="{% static 'image/mri/1.jpg' %}" selected="false" /></div>
            <canvas id="canvas"></canvas>
        </div>






        <div>
            <footer class="page-footer footer-position grey darken-4">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12 about_us">
                            <h6 class="white-text">About us : </h6>
                            <p class="grey-text text-lighten-4"></p>
                            <img class="col s3 offset-s4" src="{% static 'image/login/member.jpg' %}" width="100%">
                            <a href="https://github.com/CCU-KLDP" class="col s5 white-text">
                                <h5><u>CCU-KLDP</u></h5><br>
                            </a>
                        </div>
                        <div class="col l4 offset-s10 s12">
                            <h5.5 class="white-text">Members' Github</h5.5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/PoPoPoPony">
                                        <h7>Pony Yang: https://github.com/PoPoPoPony</h7>
                                    </a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/vt017017">
                                        <h7>Louise Lin: https://github.com/vt017017</h7>
                                    </a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/dannnnny12">
                                        <h7>Danny Chung: https://github.com/dannnnny12</h7>
                                    </a></li>
                                <li><a class="grey-text text-lighten-3" href="https://github.com/Apple1122">
                                        <h7>Kyle Huang: https://github.com/Apple1122</h7>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2020 Copyright Text
                        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                </div>
            </footer>
        </div>


        {% block js-ref %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" , src="{% static 'js/materialize.js' %}"></script>
        <script type="text/javascript" , src="{% static 'js/mri/mri.js' %}"></script>

        {% endblock js-ref %}
</body>
{% endblock content %}