.venv/
IMDSS/__pycache__
IMDSS/IMDSS/__pycache__
IMDSS/login/__pycache__
IMDSS/login/migrations/__pycache__
IMDSS/select_patient/migrations/__pycache__
IMDSS/select_patient/migrations/__pycache__
IMDSS/display_patient_detail/__pycache__
IMDSS/display_patient_detail/migrations/__pycache__
IMDSS/IMDSS/config.py