{% extends "base.html" %}
{% load static %}    

{% block ref %}
<link rel="stylesheet" href="{% static 'css/display_patient_detail/bg_style.css' %}">
<link rel="stylesheet" href="{% static 'css/memo/memo.css' %}">
{% endblock %}    

{% block content %}
<body bgcolor="#f5f5f5">
    <div class="navbar-fixed">
        <nav class="nav-wrapper grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col s1">
                        <a href="/login" class="small brand-logo">
                            <img class="responsive-img" src="{% static 'image/login/nav_icon.png' %}" width="150" >
                        </a>
                    </div>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/login">Another1</a></li>
                        <li><a href="/login">Another2</a></li>
                        <li><a href="/login">Another3</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="standard_blood_pressure">
        
    </div>
    <div class="row">
        <div class="col s12">
            {% csrf_token %}
            <div id="top_chart"></div>
        </div>
    </div>
    <div id="drug_title">
        <h5><b>用藥紀錄</b></h5>
    </div>
    <div id="select_drugs">
        
            {% for i in test %}
                <label class="select_drugs_options">

                    {% if forloop.counter0 < 5 %}
                        <input type="checkbox" class="filled-in" checked="checked" onclick="onCheckBox(this)" name="item"/>
                    {% else %}
                        <input type="checkbox" class="filled-in" disabled="disabled" onclick="onCheckBox(this)" name="item"/>
                    {% endif %}

                    <span>{{ i }}</span>
                </label>
            {% endfor %}
    </div>
    
    <a class="btn-floating btn-medium waves-effect waves-light red" id="clear"><i class="material-icons">clear</i></a>
    <a class="waves-effect waves-light btn" id="search"><i class="material-icons right">search</i>Search</a> 
    
    {% include "memo/memo.html"  %}



{% block js-ref %}
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript", src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="{% static 'js/display_patient_detail/top_chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/memo/memo.js' %}"></script>
{% endblock js-ref %}
</body>
{% endblock content %}
