#top_select_container{
    position: relative;
}


#dept_select_container{
    float: right;
    position: absolute;
    padding-top: 3%;
    width: 11%;
    left: 12%;
}

#disease_select_container{
    position: absolute;
    padding-top: 3%;
    width: 11%;
    right: 57%;
}

.select-wrapper input.select-dropdown{
    font-size: 20px;
    font-family: Microsoft Yahei;
}


#collapsible_container{
    position: absolute;
    top: 20%;
    left: 12%;
    width: 75%;
}

#therapy_checkbox_container{
    position: absolute;
    top: 55%;
    left: 12%;
    width: 75%;
}

[type="checkbox"] + span:not(.lever){
    font-size: 20px;
    font-family: Microsoft Yahei;
    color: black;
}

.therapy_checkbox_items{
    margin-left: 5%;
}

h4>b{
    font-size: 35px;
    color: #333;

}

#side_effect_card_container{
    display: flex;
    justify-content: space-between;
    height: 60%;
    
}

#side_effect_container{
    position: absolute;
    top: 110%;
    left: 12%;
    width: 75%;
    height: 40%;
    padding-top: 10px;
}

.card{
    width: 30%;
    top: 0%;
}


