.col #top_chart{
    position: absolute;
    left: 0;
    top: 12%;
    width: 100%;
    height: 250%;
    padding-bottom: 3%;
}


#drug_title{
    position: absolute;
    top: 96%;
    left: 10%;
    font-family: Microsoft YaHei;
}


#select_drugs{
    position:absolute;
    top: 103%;
    left: 12%;
    text-align: left;
    width: 67%;
    height: 14%;
    border-right: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    
}

.select_drugs_options{
    padding-right: 3%;
    margin: 10px;
}

#search{
    position: absolute;
    top: 113%;
    right: 13%;
}

#clear{
    position: absolute;
    top: 103%;
    right: 17.1%;
}


