.display-emr-section {
    float: right;
    width: 73%;
    margin: 0 auto;
    text-align: center;
}

.display-emr-section .selected-attribute {
    display: flex;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 2%;
}

.select-emr-section {
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

#search-bar{
    float: right;
    width: 20%;
    height: 10%;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 1px solid #000000;
    margin-bottom: 1%;
}

#search-bar .search-text{
    float: left;
    margin-left: 1px;
    padding-left: 7%;
    padding-bottom: 0px;
}

#search-icon{
    float: right;
    width: 17%;
    padding-right: 3%;
    padding-top: 2%;
    margin-right: 4%;
}

.select-emr-table-container {
    border: 1px solid black;
    margin-left: 1.5%;
    margin-top: 5%;
    height: 5%;
    width: 100%;
}


#select-emr-table>thead>tr{
    display: table;
    width: 98%;
    table-layout: fixed;
}
#select-emr-table>tbody{
    display: block;
    height: 271px;
    overflow-y: scroll;
}
#select-emr-table>tbody>tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

#select-emr-table>tbody>tr:hover {
    background-color: rgb(178,223,219);
}

#select-emr-table>tbody>tr.selected {
    background-color: rgb(128,203,196);
}


.emr-container {
    margin-top: 2%;
    padding-left: 1.5%;
    padding-right: 25px;
}

.emr-container img{
    height: 350px;
    overflow: scroll;
}

#select-emr-table thead th{
    font-size: 130%;
}

#select-emr-table tbody tr td{
    font-size: 120%;
}

#emr{
    overflow-y: scroll;
    scrollbar-width: 10px;
    scrollbar-track-color: #f1f1f1;
    height: 440px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
