
body{
    background:#424242
}


.side-list-section {
    float: left;
    width: 14%;
    text-align: center;
    height: 93.25vh;   
}

.top-select-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 10%;
}

#dept-select-container {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 5%;
}

#table-select-container {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.select-wrapper input.select-dropdown{
    color: white;
    font-size: 20px;
}

.select-wrapper .caret {
    fill: rgba(255, 255, 255, 1);
}

.dropdown-content li > span{
    color: black;
}


.divider {
    float: none;
    width: 100%;
}

#middle-list-container {
    padding-top: 10%;
    float: left;
    width: 80%;
    text-align: left;
    margin-left: 15%;
}

.item-list-container {
    padding-bottom: 20%;
}

[type="checkbox"] + span:not(.lever) {
    font-size:20px;
    font-family: Microsoft Yahei;
    color: white;
}
