.side-list-section {
    float: left;
    width: 27%;
    text-align: center;
    border-right: 1px solid black;
    height: 93vh;
}

.top-select-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
}

#dept_select {
    float: left;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 5%;
}

#table_select {
    float: right;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.divider {
    float: none;
    width: 100%;
}

.middle-list {
    padding-top: 10%;
    float: left;
    width: 80%;
    text-align: left;
    margin-left: 15%;
}

.item-list-container {
    padding-bottom: 6.5%;
}

.display-emr-section {
    float: right;
    width: 73%;
    margin: 0 auto;
    text-align: center;
}

.display-emr-section .selected-attribute {
    display: flex;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 2%;
}

.select-emr {
    text-align: right;
    padding-right: 10%;
    padding-top: 2%;
}

