{% extends "base.html" %}
{% load static %}

{% block ref %}
<link rel="stylesheet" href="{% static 'css/select_patient/bg.css' %}">
{% endblock %}


{% block content %}




<body>

    <div class="navbar-fixed">
        <nav class="nav-wrapper grey darken-3 ">
            <div class="container">
                <div class="row">
                    <div class="col s1">
                        <a href="/login" class="small brand-logo">
                            <img class="responsive-img" src="{% static 'image/login/nav_icon.png' %}" width="150">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>



    <div class="sel_title">
        <div class="bgsqr2"></div>

        <div class="hello_doc">
            <i class="material-icons">public</i>
                Hello, {{  doctor.first_name }} {{ doctor.last_name }}
            <div></div>
            <!--doctor's name show up here-->
        </div>
        <h3><b>Select The Patient</b></h3>

        
    </div>


    
    <div class="bgsqr"></div>
    <div class="bgsqr3"></div>
    <div class="row-container">




        <div id="slide"><!--GENERAL & SPECIFIC-->
            <h1 class="ml1 se1">
                <span class="text-wrapper">
                    <span class="line line1"></span>
                    <span class="letters">General</span>
                    <span class="line line2"></span>
                </span>
            </h1>
            <button id="detail" class="btn waves-effect waves-light detail large" style="margin-left: 3%;">Therapy Analytics
                <i class="material-icons right">equalizer</i>
            </button>
            <h1 class="ml2 se2" style="margin-bottom: 40px;">
                <span class="text-wrapper">
                    <span class="line line1"></span>
                    <span class="letters">Specific</span>
                    <span class="line line2"></span>
                </span>
            </h1>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        </div>

        

        <div id="display">
            8/01:&nbsp;trouble&nbsp;w&nbsp;balance&nbsp;x&nbsp;1&nbsp;year,&nbsp;fatigue,&nbsp;fall&nbsp;
            (retropulsex3)
            No&nbsp;tremor,&nbsp;handwriting&nbsp;OK,&nbsp;no&nbsp;shuffling<br>
            &nbsp;gait <br><br>
            1Decline&nbsp;in&nbsp;function&nbsp;&nbsp;no&nbsp;aerobics&nbsp;x&nbsp;yrs
            Walking&nbsp;lowly&nbsp;for&nbsp;few&nbsp;years&nbsp;getting&nbsp;<br>
            worse

        </div>
        

        <div class="select">
            <table id="select-pats-table">

                <thead>
                    <th width="7%"></th>
                    <th>Patient Name</th>
                </thead>
                <tbody id="tbse" >
                    
                    
                    {% for patient in patients %}
                        {% if mri.mri_image %}
                            <li><a href="#"><img src="{{  mri.mri_image.url }}" /></a></li>
                        {% endif %}
                        <tr>
                            <td width="7%" id="{{ patient.patient_id }}">{{  patient.name }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        

        <div class="btn-grp">
            <button class="btn waves-effect waves-light" id = "visualize">Visualize
                <i class="material-icons right">remove_red_eye</i>
            </button>

            <button class="btn waves-effect waves-light" id = "emr_search">Compare CUI
                <i class="material-icons right">compare</i>
            </button>

            <button class="btn waves-effect waves-light" id="mri">MRI/XRAY IMG
                <i class="material-icons right">image</i>
            </button>
        </div>
    </div>


    <div class="par1">
    </div>
    </div>
    <div class="par2"></div>

    <!--footer-->


    <div>


        <footer class="page-footer footer-position grey darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12 about_us">
                        <h6 class="white-text">About us : </h6>
                        <p class="grey-text text-lighten-4"></p>
                        <img class="col s3 offset-s4" src="{% static 'image/login/member.jpg' %}" width="100%">
                        <a href="https://github.com/CCU-KLDP" class="col s5 white-text">
                            <h5><u>CCU-KLDP</u></h5><br>
                        </a>
                    </div>
                    <div class="col l4 offset-s10 s12">
                        <h5.5 class="white-text">Members' Github</h5.5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/PoPoPoPony">
                                    <h7>Pony Yang: https://github.com/PoPoPoPony</h7>
                                </a></li>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/vt017017">
                                    <h7>Louise Lin: https://github.com/vt017017</h7>
                                </a></li>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/dannnnny12">
                                    <h7>Danny Chung: https://github.com/dannnnny12</h7>
                                </a></li>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/Apple1122">
                                    <h7>Kyle Huang: https://github.com/Apple1122</h7>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2020 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
    </div>


    <!--HTML寫這裡-->

    {% block js-ref %}
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" , src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" , src="{% static 'js/select_patient/sp.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    {% endblock js-ref %}
</body>



{% endblock content %}