{% extends "base.html" %}
{% load static %}


{% block ref %}
<link rel="stylesheet" href="{% static 'css/emr/sidenav.css' %}">
{% endblock %}


{% block content %}
<body>
    
    <nav class="nav-wrapper grey darken-3 ">
        <div class="container">
            <div class="row">
                <div class="col s1">
                    <a href="/login" class="small brand-logo">
                        <img class="responsive-img" src="{% static 'image/login/nav_icon.png' %}" width="150" >
                    </a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/login">Another1</a></li>
                    <li><a href="/login">Another2</a></li>
                    <li><a href="/login">Another3</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <ul id="slide-out" class="sidenav fixed"style="width:40%">
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><img class="trigger_icon" src="{% static 'image/emr/arrow_right.jpg' %}">
    </i></a>

    

    {% block js-ref %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript", src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emr/sidenav.js' %}"></script>
    {% endblock js-ref %}
</body>
{% endblock content %}