{% extends "base.html" %}
{% load static %}


{% block ref %}
<link rel="stylesheet" href="{% static 'css/emr/side_select.css' %}">
<link rel="stylesheet" href="{% static 'css/emr/display_emr.css' %}">
<link rel="stylesheet" href="{% static 'css/memo/memo.css' %}">
{% endblock %}


{% block content %}
<body bgcolor="#f5f5f5">
    <nav class="nav-wrapper grey darken-3 ">
        <div class="container">
            <div class="row">
                <div class="col s1">
                    <a href="/login" class="small brand-logo">
                        <img class="responsive-img" src="{% static 'image/login/nav_icon.png' %}" width="150" >
                    </a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/login">Another1</a></li>
                    <li><a href="/login">Another2</a></li>
                    <li><a href="/login">Another3</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="side-list-section">
        <div class="top-select-container input-field fixed">
            <div id="dept-select-container">
                <select id="dept_select" onchange="dept_change()">
                    <option value="" disabled selected>Select department</option>
                    {% for instance in dept_lst %}
                        <option value={{forloop.counter0}}>{{ instance }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="table-select-container">
            </div>
        </div>
        <div class="divider"></div>
        <div id="middle-list-container">
            <div id="middle_list">

            </div>
        </div>
    </div>
    <div class="display-emr-section">
        <div class="select-emr-section">
            <div class="top-bar">
                <div class="patient_id">
                    <h5>病人編號 : {{ patient_id }}</h5>
                </div>
                <div id="search-bar">
                    <div class="search-text">
                        <script>
                            var green_pic = "{% static 'image/emr/search_icon_green.png' %}"
                            var black_pic = "{% static 'image/emr/search_icon_black.png' %}"
                        </script>
                        <input name = input placeholder="關鍵字查詢" type="text" onmousedown="search_icon_to_green()" onblur="search_icon_to_black()">
                    </div>
                    <img src="{% static 'image/emr/search_icon_black.png' %}" id="search-icon">
                </div>
            </div>
            <div class="select-emr-table-container">
                <table id="select-emr-table">
                    <thead>
                        <tr>
                            <th width = 7%></th>
                            <th width = 7%></th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Department</th>
                            <th>Doctor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in emr_table %}
                            {% if forloop.counter0 == 0 %}
                                <tr class="selected" id="{{ instance.id }}">
                            {% else %}
                                <tr id="{{ instance.id }}">
                            {% endif %}
                                    <td width = 7%></td>
                                    <td width = 7%></td>
                                    <td>{{ instance.date }}</td>
                                    <td>{{ instance.type }}</td>
                                    <td>{{ instance.dept }}</td>
                                    <td>{{ instance.doctor }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="emr-section">
            <div class="emr-container">
                <div id="emr"></div>
            </div>
        </div>
            
    </div>
    
    {% include "memo/memo.html"  %}
    

    

    {% block js-ref %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emr/sidenav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emr/display_emr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/memo/memo.js' %}"></script>
    {% endblock js-ref %}
</body>
{% endblock content %}