{% extends "base.html" %}
{% load static %}


{% block ref %}
<link rel="stylesheet" href="{% static 'css/login/bg_style.css' %}">
{% endblock %}

{% block content %}

<body>
    <!--BODY-->
    <div class="navbar-fixed">
        <nav class="nav-wrapper grey darken-3 ">
            <div class="container">
                <div class="row">
                    <div class="col s1">
                        <a href="/login" class="small brand-logo">
                            <img class="responsive-img" src="{% static 'image/login/nav_icon.png' %}" width="150">
                        </a>
                    </div>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/login">Another1</a></li>
                        <li><a href="/login">Another2</a></li>
                        <li><a href="/login">Another3</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div>
       <div class="reg_bg">
           sadsda
       </div> 
 <!--姓名、帳號、密碼、信箱、科別選單、醫師編號-->

    </div>











    <div>
        <footer class="page-footer footer-position grey darken-1">
            <div class="container">
            <div class="row">
                <div class="col l6 s12">
                <h3 class="white-text">About us : </h3>
                <p class="grey-text text-lighten-4"></p>
                    <img class="col s3 offset-s4" src="{% static 'image/login/member.jpg' %}" width="20%">
                    <a href="https://github.com/CCU-KLDP" class="col s5 white-text"><h3>CCU-KLDP</h3><br></a>
                </div>
                <div class="col l4 offset-s10 s12">
                <h5 class="white-text">Members' Github</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/PoPoPoPony"><h5>https://github.com/PoPoPoPony</h5></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/PoPoPoPony"><h5>https://github.com/PoPoPoPony</h5></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/PoPoPoPony"><h5>https://github.com/PoPoPoPony</h5></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/PoPoPoPony"><h5>https://github.com/PoPoPoPony</h5></a></li>
                </ul>
                </div>
            </div>
            </div>
            <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
            </div>
        </footer>
    </div>



    {% block js-ref %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" , src="{% static 'js/materialize.js' %}"></script>


    {% endblock js-ref %}
</body>
{% endblock content %}