.body #container #photos li {
	list-style: none;
	margin: 0;
    padding: 0;
}
#photos {
	position: relative;
	top: 100px;
	left: 100px;
	width: 650px;	
	height: 100px;	
}
#photos li {
	position: absolute;
}
#photos li a img {
	border: none;
}
