.row-container{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin-top: 0%; /*改圖片上尖閣*/
    margin-bottom: 10%;
    height: 60%;
}

.row-container .select{
    position: relative;
    text-align: center;
    border: 1px solid black;
    margin-top: 0px;
    margin-left: 1.5%;
    padding-right: 0%;
    height: 65%;
    width: 45%;
    top: 0px;
}



#select-pats-table>thead>tr{
    top: 70px;
    display: table;
    width: 100%;
    table-layout: fixed;
    color: white;
    font-size: 30px;
}
#select-pats-table>tbody{
    top: 90px;
    display: block;
    height: 298px;
    overflow-y: scroll;
    color: white;
    font-size: 20px;
}

#select-pats-table>tbody>tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

#select-pats-table>tbody>tr:hover {
    background-color: rgb(178,223,219);
}

#select-pats-table>tbody>tr#selected {
    background-color: rgb(128,203,196);
}
#detail{ /**BUTTON/*/
    position: relative;
    left: 0%;
    top: 22px;
}

#display{   
    margin-right: 8%;
    padding-right: 30%;
    margin-bottom: 10%;
    position: absolute;
    float: right;
    left: 60%;
    top: 48%;
    width: 30%;
    height: 400px;
    font-size: 25px;
    background-color: #3331319a;
    color: white;
}

.btn-grp{
    position: relative;
    left: 0%;
    top: 18px;
}


@font-face {
    font-family: 'WeddingTextBT-Regular';
    src: url('../../font/WeddingTextBT-Regular.woff2') format('woff2'),
        url('../../font/WeddingTextBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SentyTEA';
    src: url('../../font/SentyTEA.woff2') format('woff2'),
        url('../../font/SentyTEA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.sel_title{  
    color: #ee6e73;
    position: relative;
    font-family: "SentyTEA";
    font-size: 700px;
    text-align: center;
    background-color: rgb(255, 255, 255);
   
}
.hello_doc{
    left: 20px;
    top: 30px;
    position: absolute;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.bgsqr{
    position: absolute;
    top : 16%;
    width:100%;
    height:82.5%;
    z-index: -20;
    margin: 0px;
    clip-path:polygon(0% 0%, 0% 100%,50% 50%,100% 0%);
    background-color: #414040;
  }
.btn{
    background-color: rgb(34, 34, 34);
    position: relative;
    top: 20px;
    left: 60px;
    color:#ffffff;
}
.detail{
   position: absolute;
    top: 20px;
}
.bgsqr2{
    position: absolute;
    width:300px;
    height:100px;
    clip-path:polygon(0% 0%, 0% 100%,90% 100%,100% 0%);
    background-color: #333232 ;
  }

.bgsqr3{
    position: absolute;
    top: 16%;
    width:100%;
    height:83%;
    z-index: -100;
    left:0px;
    margin: 0px;
    background-color: #706868;
}

html,body{
      height: 100%;
}
 
.par1{
     
    /* The image used */
   /* background-image: url('https://www.bnext.com.tw/article/54056/free-image-sources');*/
    height: 60%;
    /* Full height */

    background-image: url('https://images.unsplash.com/photo-1565536421966-1e4aec32c7e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.par2{ 
    height: 5%; 
    max-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-footer{
    visibility: visible;
    margin-left: auto;
    margin-right: auto;
   max-width: initial; 
   position: relative;
  }

.row{
    height: 110px;
    visibility: visible;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    position: relative;
}

.doctor_name{
    width:300px;
    height:100px;
    position: absolute;
    z-index: 50;

}
.about_us{
    width:200px;
    height:80px;
    position: relative;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.wrapsearch{
 
    width: 200px;
    position: relative;
    top: 0px;
    left: 400px;
    transform: translate(-50%, -50%);
}

.search {
    position: absolute;
    top: 0px;
    left: 100px;
}

.searchTerm {
  width: 100%;
 
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(236, 82, 44);
}

.searchTerm:focus{
  color: rgb(184, 184, 184);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: rgb(0, 0, 0);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 10px;
}


.select-wrapper input.select-dropdown {
    color: white;
}

.material-icons{
  color: white;
}

#visualize{
    margin-left: 2%;
}

#emr_search{
    margin-left: 3%;
}

#mri{
    margin-left: 3%;
}










/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/*GENERAL SPECIFIC文字*/
#slide{
    position: relative;
    top: 0%;
   
}
.ml1 {
    font-weight: 900;
    font-size: 3.5em;
    color: white;
    font-family: "SentyTEA";
  }
  .ml2 {
    font-weight: 900;
    font-size: 3.5em;
    color: white;
    font-family: "SentyTEA";
  }
  
  .ml1 .letter {
    position: relative;
    display: inline-block;
    line-height: 1em;
    top: 20px;
  }
  .ml2 .letter {
    position: relative;
    top: 0px;
    display: inline-block;
    line-height: 1em;
   
  }
  .ml1 .text-wrapper {
    position: relative;
    top: 16px;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml2 .text-wrapper {
    position: relative;
    top: 15px;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  .ml1 .line {
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  .ml2 .line {
    opacity: 1;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 22px; }
  .ml1 .line2 { bottom: 0; }
  .ml2 .line1 { top: 63px; }
  .ml2 .line2 { bottom: 70px; }
