#select{
    position: absolute;
    left:360px;
    width: 50%;
    top: 200px;
}
.row1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 700px;
    width: 800px;
    background-color: khaki ;
}
.span_sel{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 700px;
    width: 800px;
    background-color: khaki ;
}

#tri1{
    width: 35%;
    height: 41%;
    clip-path: polygon(0 69%, 0 0, 100% 27.2%);
    position: absolute;
 /*   z-index: -1;*/
    top: 46.4%;
    left: 0px;
}
#tri2{
    position: absolute;
    top: 0px;
    width: 70%;
    height: 60%;
    clip-path: polygon(50% 0%, 100% 0, 100% 22%, 70% 74%, 0 50%, 0 0);
    
   /* z-index: -1;*/
    top: 46.4%;
    left: 0px;
}

#tri3{
    width: 30.1%;
    height: 31%;
    clip-path: polygon(100% 90%, 0 58%, 100% 13%);
    position: absolute;
    z-index: -1;
    top: 50.8%;
    right: 0px;
}